## Introduction
Numerous online lending platforms have emerged in recent times, offering loan opportunities to businesses,
similar to banks. However, they are also faced with the risk of user loan default, which is correlated to the
sustainability and healthy development of the platforms.
The importance of calculating and predicting credit risks cannot be overemphasised. Evaluating an
individualâ€™s financial information and historical data is pivotal to predicting whether he/she would default
on a loan or not.


Credit score cards are a common risk control method in the financial industry. It uses personal information,
and data submitted by credit card applicants to predict the probability of future defaults and credit card
borrowings. The bank or lending company is able to decide whether to issue a credit card to the applicant or
not. Credit scores can objectively quantify the magnitude of risk.
The project will focus on predicting whether an applicant is qualified to receive a loan or not.

## Introduction to the Dataset

We'll use the [Credit Card Approval](http://archive.ics.uci.edu/ml/datasets/credit+approval) dataset from the UCI Machine Learning Repository. This data is confidential and so the contributor of the dataset anonymized the feature names.
The work flow of this notebook is as follows:

- First, we will start by loading and viewing the dataset.
- We will see that the dataset has both numerical and non-numerical features and that it contains a number of missing entries.
- We will then take care of the missing values.
- After we have cleaned and prepared our data, we will do some exploratory data analysis to improve our understanding.
- We will have to preprocess the dataset to ensure the machine learning model we choose can make good predictions.
- Finally, we will build a machine learning model that can predict if an individual's application for a credit card will be approved.

In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

The features of this dataset have been anonymized to protect the privacy, but this [blog](http://rstudio-pubs-static.s3.amazonaws.com/73039_9946de135c0a49daa7a0a9eda4a67a72.html) gives us a pretty good overview of the probable features. The probable features in a typical credit card application are Gender, Age, Debt, Married, BankCustomer, EducationLevel, Ethnicity, YearsEmployed, PriorDefault, Employed, CreditScore, DriversLicense, Citizen, ZipCode, Income and finally the ApprovalStatus.

In [54]:
credit_card_app = pd.read_csv('credit_approval.data', header=None)
credit_card_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [55]:
#Display first few rows
credit_card_app.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [56]:
#full description of the dataset
credit_card_app.describe(include='all')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,690,690,690.000000,690,690,690,690,690.000000,690,690,690.00000,690,690,690,690.000000,690
unique,3,350,NaN,4,4,15,10,NaN,2,2,NaN,2,3,171,NaN,2
top,b,?,NaN,u,g,c,v,NaN,t,f,NaN,f,g,00000,NaN,-
freq,468,12,NaN,519,519,137,399,NaN,361,395,NaN,374,625,132,NaN,383
mean,NaN,NaN,4.758725,NaN,NaN,NaN,NaN,2.223406,NaN,NaN,2.40000,NaN,NaN,NaN,1017.385507,NaN
std,NaN,NaN,4.978163,NaN,NaN,NaN,NaN,3.346513,NaN,NaN,4.86294,NaN,NaN,NaN,5210.102598,NaN
min,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.165000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,NaN
50%,NaN,NaN,2.750000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.00000,NaN,NaN,NaN,5.000000,NaN
75%,NaN,NaN,7.207500,NaN,NaN,NaN,NaN,2.625000,NaN,NaN,3.00000,NaN,NaN,NaN,395.500000,NaN
max,NaN,NaN,28.000000,NaN,NaN,NaN,NaN,28.500000,NaN,NaN,67.00000,NaN,NaN,NaN,100000.000000,NaN

As seen in the above summary statistics, the dataset contains missing values represented with a "?"

In [57]:
#replacing "?" with NaN for easy computation
credit_card_app = credit_card_app.replace("?", np.nan)

In [58]:
# inspecting to be sure all '?' has been replaced
credit_card_app.describe(include = 'all')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,678,678,690.000000,684,684,681,681,690.000000,690,690,690.00000,690,690,677,690.000000,690
unique,2,349,NaN,3,3,14,9,NaN,2,2,NaN,2,3,170,NaN,2
top,b,22.67,NaN,u,g,c,v,NaN,t,f,NaN,f,g,00000,NaN,-
freq,468,9,NaN,519,519,137,399,NaN,361,395,NaN,374,625,132,NaN,383
mean,NaN,NaN,4.758725,NaN,NaN,NaN,NaN,2.223406,NaN,NaN,2.40000,NaN,NaN,NaN,1017.385507,NaN
std,NaN,NaN,4.978163,NaN,NaN,NaN,NaN,3.346513,NaN,NaN,4.86294,NaN,NaN,NaN,5210.102598,NaN
min,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.165000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,NaN
50%,NaN,NaN,2.750000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.00000,NaN,NaN,NaN,5.000000,NaN
75%,NaN,NaN,7.207500,NaN,NaN,NaN,NaN,2.625000,NaN,NaN,3.00000,NaN,NaN,NaN,395.500000,NaN
max,NaN,NaN,28.000000,NaN,NaN,NaN,NaN,28.500000,NaN,NaN,67.00000,NaN,NaN,NaN,100000.000000,NaN

The missing values repreented with '?' have all been replaced with NaN

In [59]:
#type conversion of numerical columns stored as object type
credit_card_app = credit_card_app.astype({1:'float', 13:'float'})

In [60]:
#Fill the numerical missing values using the mean inputation
credit_card_app.fillna(credit_card_app.mean(), inplace = True)

<ipython-input-60-00b8111179f1>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  credit_card_app.fillna(credit_card_app.mean(), inplace = True)

In [61]:
credit_card_app.isnull().sum()

0     12
1      0
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
dtype: int64

The column containing missing values are categorical columns that could not be filled with mean inputation.
To fix this, we are going to use mode inputation method.

In [62]:
#iterating over each column of the dataset
for col in credit_card_app:
    #check if any column is categorical (object)
    if credit_card_app[col].dtype == 'object':
        #if colmn is categorical, input missing vales with the most frequent value
        credit_card_app = credit_card_app.fillna(credit_card_app[col].value_counts().index[0])

In [63]:
#check to see if there are stll missing values
credit_card_app.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

All missing values both numerical and categorical have been filled.

# Renaming the column

In [64]:
d = {0: 'Gender', 1: 'Age', 2: 'Debt', 3: 'Married', 4: 'BankCustomer', 5: 'EducationLevel', 6: 'Ethnicity', 7: 'YearsEmployed', 8: 'PriorDefault', 9: 'Employed', 10: 'CreditScore', 11: 'DriversLicense', 12: 'Citizen', 13: 'ZipCode', 14:'Income', 15: 'ApprovalStatus' }

credit_card_app.rename(columns = d, inplace = True)

In [65]:
# check to see if it has effected the changes
credit_card_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    object
 1   Age             690 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         690 non-null    object
 4   BankCustomer    690 non-null    object
 5   EducationLevel  690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    object
 9   Employed        690 non-null    object
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    object
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    float64
 14  Income          690 non-null    int64
 15  ApprovalStatus  690 non-null    object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.4+ KB

# DATA ANALYSIS

## 1. Univariate Analysis
## 2. Bivariate Analysis
## 3. Correlation Plot

# UNIVARIATE ANALYSIS

In [66]:
# Check the noise and biasness in the target column
credit_card_app['ApprovalStatus'].value_counts().plot(kind= 'bar')

plt.xticks(rotation= 0)

(array([0, 1]), [Text(0, 0, '-'), Text(1, 0, '+')])

### The chart above shows that there is little noise in the target column, whuch means it is not biased.

In [67]:
# Check which of the gender applied more for the credit card
credit_card_app['Gender'].value_counts().plot(kind= 'bar')

plt.xticks(rotation= 0)

(array([0, 1]), [Text(0, 0, 'b'), Text(1, 0, 'a')])

### The chart above shows that Gender_b applied more than Gender_a

In [68]:
# Check which category of BankCustomers apllied more for the creditcard
credit_card_app['BankCustomer'].value_counts().plot(kind= 'bar')

plt.xticks(rotation= 0)

(array([0, 1, 2, 3]),
 [Text(0, 0, 'g'), Text(1, 0, 'p'), Text(2, 0, 'b'), Text(3, 0, 'gg')])

## BankCustomers of category_g apllied more for creditcard, those of category_p aplled less for creditcard and Customers of category_gg was almost is insignificant


## Here, we have an hypothesis that category_gg is an oultlier and should probably be removed

In [69]:
# Check for the educational level of applicants
credit_card_app['EducationLevel'].value_counts().plot(kind= 'bar')

plt.xticks(rotation= 0)

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14]),
 [Text(0, 0, 'c'),
  Text(1, 0, 'q'),
  Text(2, 0, 'w'),
  Text(3, 0, 'i'),
  Text(4, 0, 'aa'),
  Text(5, 0, 'ff'),
  Text(6, 0, 'k'),
  Text(7, 0, 'cc'),
  Text(8, 0, 'm'),
  Text(9, 0, 'x'),
  Text(10, 0, 'd'),
  Text(11, 0, 'e'),
  Text(12, 0, 'j'),
  Text(13, 0, 'b'),
  Text(14, 0, 'r')])

In [70]:
# Check for the age range of applicants
credit_card_app['Age'].plot(kind= 'hist')

### The chart above shows that applicants within the age bracket of 20-30 had more creditcard request

In [71]:
# Check the years of employment of applicants
credit_card_app['YearsEmployed'].plot(kind= 'hist')

### The chart above shows that applicants with below 5 years post employment had more creeditcard request

In [72]:
# Check the income of applicants
credit_card_app['Income'].plot(kind= 'hist')

### The chart above shows that majority of the applicants receive less than 20,000 as income

# BIVARIATE ANALYSIS

### The following columns were given top priority based on the information gotten with the dataset [prior default, years employed, credit score and income level]

In [73]:
# Check the relationship between gender and approval status
gender = pd.crosstab(credit_card_app['ApprovalStatus'], credit_card_app['Gender'])
gender.div(gender.sum().astype(float), axis=1).plot(kind='bar', stacked=False)



plt.xticks(rotation= 0)
plt.figure(figsize= (10,7))

### No significant relationship between gender and approvalstatus. It means gender is not a criteria for awarding creditcard

In [74]:
# Check relationship between educationlevel and approved status
education = pd.crosstab(credit_card_app['ApprovalStatus'], credit_card_app['EducationLevel'])
education
education.div(education.sum(0).astype(float), axis=1).plot(kind='bar', stacked=False)



plt.figure(figsize= (10,50))
plt.legend(bbox_to_anchor= (1,1.5))

No handles with labels found to put in legend.

### The chart shows no significant relationship

In [75]:
# check relationship between PriorDefault and ApprovalStatus
PriorDefault = pd.crosstab(credit_card_app['ApprovalStatus'], credit_card_app['PriorDefault'])
PriorDefault
PriorDefault.div(PriorDefault.sum(0).astype(float), axis=1).plot(kind='bar', stacked=False)


plt.xticks(rotation= 0)

plt.legend(bbox_to_anchor = (1, 1.02))

### PriorDefault has a significant relationship with ApprovalStatus which means those without a PriorDefault are prone to getting their loan approved

In [76]:
# Check relationship between creditscore and approval status
CreditScore = pd.crosstab(credit_card_app['ApprovalStatus'], credit_card_app['CreditScore'])
CreditScore
CreditScore.div(CreditScore.sum(0).astype(float), axis=1).plot(kind='bar', stacked=False, figsize=(10,5))


plt.xticks(rotation= 0)

plt.legend(bbox_to_anchor = (1, 1.02))

### Creditscore has a significant relationship with approval status. Applicants with higher creditscores are more likely to get creditcard approval while those with lower creditscores are less likely to get creditcard approval

In [77]:
# Check relationship between creditcard and drivers license
DriversLicense = pd.crosstab(credit_card_app['ApprovalStatus'], credit_card_app['DriversLicense'])
DriversLicense
DriversLicense.div(DriversLicense.sum(0).astype(float), axis=1).plot(kind='bar', stacked=False)


plt.xticks(rotation= 0)

plt.legend(bbox_to_anchor = (1, 1.02))

### The chart above shows no significant relationship

In [78]:
# Check relationship between creditcard and citizenship
Citizenship = pd.crosstab(credit_card_app['ApprovalStatus'], credit_card_app['Citizen'])
Citizenship
Citizenship.div(Citizenship.sum(0).astype(float), axis=1).plot(kind='bar', stacked=False)


plt.xticks(rotation= 0)

plt.legend(bbox_to_anchor = (1, 1.02))

### The chart above shows no significant relationship

In [79]:
IncomeLevel = pd.crosstab(credit_card_app['ApprovalStatus'], credit_card_app['Income'])
IncomeLevel
IncomeLevel.div(IncomeLevel.sum(0).astype(float), axis=1).plot(kind='bar', stacked=False, figsize=(100,50))


plt.xticks(rotation= 0)

plt.legend(bbox_to_anchor = (1, 1.02))

### ### The chart above shows no significant relationship

## Checking for outliers

In [80]:
credit_card_app.plot(kind= 'box', subplots= True, figsize=(10,5))

Age                 AxesSubplot(0.125,0.11;0.110714x0.77)
Debt             AxesSubplot(0.257857,0.11;0.110714x0.77)
YearsEmployed    AxesSubplot(0.390714,0.11;0.110714x0.77)
CreditScore      AxesSubplot(0.523571,0.11;0.110714x0.77)
ZipCode          AxesSubplot(0.656429,0.11;0.110714x0.77)
Income           AxesSubplot(0.789286,0.11;0.110714x0.77)
dtype: object

### The chart shows that there are extrenous outliers in Income, Creditscore, ZipCode and Years Employed columns. That might be an indication to singularly remove the outlier data from dataframe

# CORRELATION PLOTS

In [81]:
#shows how each of the attributes are related to each other
sns.pairplot(credit_card_app)

In [82]:
credit_card_app.corr()

,Age,Debt,YearsEmployed,CreditScore,ZipCode,Income
Age,1.000000,0.201316,0.392787,0.185575,-0.077161,0.018539
Debt,0.201316,1.000000,0.298902,0.271207,-0.222346,0.123121
YearsEmployed,0.392787,0.298902,1.000000,0.322330,-0.076389,0.051345
CreditScore,0.185575,0.271207,0.322330,1.000000,-0.119809,0.063692
ZipCode,-0.077161,-0.222346,-0.076389,-0.119809,1.000000,0.065609
Income,0.018539,0.123121,0.051345,0.063692,0.065609,1.000000

In [83]:
#get correlations of each features in dataset
corrmat = credit_card_app.corr()
top_corr_features = corrmat.index
plt.figure(figsize=(10,5))
#plot heat map
g=sns.heatmap(credit_card_app[top_corr_features].corr(),annot=True,cmap="RdYlGn")

### The above correlation plot shows the relationship of features with one another.

# Conclusion
### The following columns has a high correlation with the target variable

1. PriorDefault
2. CreditScore
3. Citizen
### The following has not shown high correlation but contains significant values
1. Age
2. Income
3. Education

### The following were not found to have any significant correlation with target variable
1. Gender
2. YearsEmployed
3. IncomeLevel
4. Debt
5. DriversLicense

# Preprocessing the Data

In [84]:
#Function to convert the categorical variables to numerical data for further analysis
def Encoder(credit_card_app):
    to_encode = list(credit_card_app.select_dtypes(include = ['category', 'object']))
    
    #created a LabelEncoder object
    enc = LabelEncoder()
    
    for col in to_encode:
        try:
            credit_card_app[col] = enc.fit_transform(credit_card_app[col])
        except:
            print("Error while encoding " + col)
            
    return credit_card_app

In [85]:
#Convert the data into numerical data
credit_card_app = Encoder(credit_card_app)

In [86]:
#Check to see if the conversion is successful

credit_card_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    int32
 1   Age             690 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         690 non-null    int32
 4   BankCustomer    690 non-null    int32
 5   EducationLevel  690 non-null    int32
 6   Ethnicity       690 non-null    int32
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    int32
 9   Employed        690 non-null    int32
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    int32
 12  Citizen         690 non-null    int32
 13  ZipCode         690 non-null    float64
 14  Income          690 non-null    int64
 15  ApprovalStatus  690 non-null    int32
dtypes: float64(4), int32(10), int64(2)
memory usage: 59.4 KB

In [87]:
credit_card_app.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,1,30.83,0.000,2,1,13,8,1.25,1,1,1,0,0,202.0,0,0
1,0,58.67,4.460,2,1,11,4,3.04,1,1,6,0,0,43.0,560,0
2,0,24.50,0.500,2,1,11,4,1.50,1,0,0,0,0,280.0,824,0
3,1,27.83,1.540,2,1,13,8,3.75,1,1,5,1,0,100.0,3,0
4,1,20.17,5.625,2,1,13,8,1.71,1,0,0,0,2,120.0,0,0

#### So, all the features with category 'object' have bee converted to 'int', i.e all the categorical features have been convert to numerical data.

#### The following changes were done :
     Gender - i) a is converted to 0
              ii) b is converted to 1 
           
     Married - i) b is converted to 0
               ii) l is converted to 1
               iii) u is converted to 2
               iv) y is converted to 3
     
     BankCustomer - i) b is converted to 0
                    ii) g is converted to 1
                    iii) gg is converted to 2
                    iv) p is converted to 3
     
     EducationLevel - i) aa is converted to 0
                      ii) b is converted to 1
                      iii) c is converted to 2
                      iv) cc is converted to 3
                      v) d is converted to 4
                      vi) e is converted to 5
                      vii) ff is converted to 6
                      viii) i is converted to 7
                      ix) j is converted to 8
                      x) k is converted to 9
                      xi) m is converted to 10
                      xii) q is converted to 11
                      xiii) r is converted to 12
                      xiv) w is converted to 13
                      xv) x is converted to 14
                      
     Ethnicity - i) b is converted to 0
                 ii) bb is converted to 1
                 iii) dd is converted to 2
                 iv) ff is converted to 3
                 v) h is converted to 4
                 vi) j is converted to 5
                 vii) n is converted to 6
                 viii) o is converted to 7
                 ix) v is converted to 8
                 x) z is converted to 9
     
     PriorDefault - i) f is converted to 0
                    ii) t is converted to 1
                    
     Employed - i) f is converted to 0
                ii) t is converted to 1
                
     DriversLicense - i) f is converted to 0
                      ii) t is converted to 1
                      
     Citizen - i) g is converted to 0
               ii) p is converted to 1
               iii) s is converted to 2
               
     ApprovalStatus - i) + is converted to 0
                      ii) - is converted to 1

# Splitting data into training and testing

In [88]:
# assigning the attribute to X and predition values to Y

In [89]:
# X will contain all the features that will be used to train the model
# Y will contain the result whether the person's credit card request is approved

In [90]:
X=credit_card_app.iloc[:,0:15]
Y=credit_card_app.iloc[:,15]

In [91]:
X.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income
0,1,30.83,0.000,2,1,13,8,1.25,1,1,1,0,0,202.0,0
1,0,58.67,4.460,2,1,11,4,3.04,1,1,6,0,0,43.0,560
2,0,24.50,0.500,2,1,11,4,1.50,1,0,0,0,0,280.0,824
3,1,27.83,1.540,2,1,13,8,3.75,1,1,5,1,0,100.0,3
4,1,20.17,5.625,2,1,13,8,1.71,1,0,0,0,2,120.0,0

In [92]:
# to understand the feature importance of the attributes

In [93]:
### Feature Importance

from sklearn.ensemble import ExtraTreesRegressor
import matplotlib.pyplot as plt
model = ExtraTreesRegressor()
model.fit(X,Y)

ExtraTreesRegressor()

In [94]:
print(model.feature_importances_)

[0.01594886 0.04971664 0.05407022 0.02269317 0.01149782 0.04936848
 0.03164666 0.04000421 0.51898598 0.05441096 0.01291046 0.01916764
 0.013349   0.06849484 0.03773505]

In [95]:
# This gives the importance of different features for predicting the values of Y

In [96]:
# Splitting the dataset into training and testing with a test size of 0.3
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

So the total dataset here is split into training dataset and testing dataset with the size 0.3 for testing dataset.

This will be a random split of data and the test and training data will change each time the cell is executed.